.subscribe-button{
        background-color: rgb(166, 5, 5);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
    }
    .join-button{
        background-color: white;
        color: rgb(23, 113, 197);
        border-color: rgb(23, 113, 197);
        border-style: solid;
        border-width: 1px;
        height:36px;
        width:63px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: background-color 0.15s,
        color 0.15s;
    }
    .tweet-button{
        background-color: rgb(52, 156, 236);
        color: white;
        border: none;
        height: 36px;
        width: 75px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 12px;  
        cursor: pointer;
        transition: box-shadow 0.15s;
    }
    .subscribe-button:hover{
        opacity: 0.7;
    }
    .subscribe-button:active{
        opacity: 0.3;
    }
    .join-button:hover{
        background-color: rgb(23, 113, 197);
        color: white;
    }
    .join-button:active{
        opacity: 0.7;
    }
    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }