.header
{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(184, 179, 179);
}
.left-section
{
    width: 150px;
    display: flex;
    align-items: center;
}
.middle-section
{
    display: flex;
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.search-button
{
    height: 39px;
    width: 60px;
    background-color: rgb(240, 237, 237);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 190, 190);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
}
.search-button .tooltip
{
    position: absolute;
    background-color: grey;
    color: white;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    pointer-events: null;
}
.search-button:hover .tooltip{
    opacity: 1;
    transition: opacity 0.15s;
}
.voice-search-button
{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(235, 233, 233);
}
.voice-search-icon
{
    height: 24px;
    margin-top: 4px;
}
.search-bar
{
    flex: 1;
    height: 35px;
    font-size: 16px;
    padding-left: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(191, 190, 190) ;
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0,0, 0.05);
    width: 0;
}
.search-icon
{
    height: 21px;
    margin-top: 4px;
}
.search-bar::placeholder
{
    font-family: Roboto,Arial;
    font-size: 16px;
}
.right-section
{
    display: flex;
    width: 180px;
    margin-right: 20px;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
}
.hamburger-menu
{
    height: 20px;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo
{
    height: 20px;
    align-items: center;
}
.create-icon
{
    height: 36px;
    align-items:center;
}
.notification
{
    height: 24px;
    align-items: center;
}
.notification-icon-container
{
    position: relative;
}
.notifications-count
{
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: rgb(134, 8, 8);
    color: white;
    font-family: Roboto,Arial;
    font-size: 12px;
    padding-left:5px ;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px; 
    border-radius: 10px; 
}


.my-channel
{
    height: 24px;
    border-radius: 15px;
}
.icon-tooltip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-tooltip .tooltip {
  position: absolute;
  background-color: grey;
  color: white;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 2px;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s;
  z-index: 200;        /* higher than header/sidebar */
}
/* menu tooltip specifically above the hamburger icon */
.left-section .icon-tooltip .tooltip {
  bottom: auto;        /* cancel bottom */
  top: 5px;          /* place above the icon */
  z-index: 200;        /* make sure it's above sidebar */
}



/* show on hover */
.icon-tooltip:hover .tooltip {
  opacity: 1;
}

/* keep your search-button styles but fix pointer-events */
.search-button .tooltip {
  pointer-events: none;
}
