.sidebar
{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 30px;
    cursor: pointer;
} 
.sidebar-link
{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar-link:hover{
    background-color: rgb(229, 227, 227);
}
.sidebar-link img{
    height: 32px;
    margin-bottom: 4px;
}
.sidebar div{
    font-family: Roboto,Arial;
    font-size: 10px;
    margin-bottom: 20px;

}